@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'sansserifflfmedium';
    src: url('sansserifflf-webfont.eot');
    src: url('sansserifflf-webfont.eot?#iefix') format('embedded-opentype'),
         url('sansserifflf-webfont.woff') format('woff'),
         url('sansserifflf-webfont.ttf') format('truetype'),
         url('sansserifflf-webfont.svg#sansserifflfmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sansserifbookflfmedium';
    src: url('sansserifbookflf-webfont.eot');
    src: url('sansserifbookflf-webfont.eot?#iefix') format('embedded-opentype'),
         url('sansserifbookflf-webfont.woff') format('woff'),
         url('sansserifbookflf-webfont.ttf') format('truetype'),
         url('sansserifbookflf-webfont.svg#sansserifbookflfmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sansserifflfdemibold';
    src: url('sansserifflf-demibold-webfont.eot');
    src: url('sansserifflf-demibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('sansserifflf-demibold-webfont.woff') format('woff'),
         url('sansserifflf-demibold-webfont.ttf') format('truetype'),
         url('sansserifflf-demibold-webfont.svg#sansserifflfdemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sansserifbldflfmedium';
    src: url('sansserifbldflf-webfont.eot');
    src: url('sansserifbldflf-webfont.eot?#iefix') format('embedded-opentype'),
         url('sansserifbldflf-webfont.woff2') format('woff2'),
         url('sansserifbldflf-webfont.woff') format('woff'),
         url('sansserifbldflf-webfont.ttf') format('truetype'),
         url('sansserifbldflf-webfont.svg#sansserifbldflfmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'MyriadProRegular';
    src: url('myriadpro-webfont.eot');
    src: url('myriadpro-webfont.eot?#iefix') format('embedded-opentype'),
         url('myriadpro-webfont.woff') format('woff'),
         url('myriadpro-webfont.ttf') format('truetype'),
         url('myriadpro-webfont.svg#MyriadProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Raleway Family */
@font-face {
    font-family: 'ralewayregular';
    src: url('raleway-regular-webfont-webfont.eot');
    src: url('raleway-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway-regular-webfont-webfont.woff2') format('woff2'),
         url('raleway-regular-webfont-webfont.woff') format('woff'),
         url('raleway-regular-webfont-webfont.ttf') format('truetype'),
         url('raleway-regular-webfont-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaymedium';
    src: url('raleway-medium-webfont-webfont.eot');
    src: url('raleway-medium-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway-medium-webfont-webfont.woff2') format('woff2'),
         url('raleway-medium-webfont-webfont.woff') format('woff'),
         url('raleway-medium-webfont-webfont.ttf') format('truetype'),
         url('raleway-medium-webfont-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaysemibold';
    src: url('raleway-semibold-webfont-webfont.eot');
    src: url('raleway-semibold-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway-semibold-webfont-webfont.woff2') format('woff2'),
         url('raleway-semibold-webfont-webfont.woff') format('woff'),
         url('raleway-semibold-webfont-webfont.ttf') format('truetype'),
         url('raleway-semibold-webfont-webfont.svg#ralewaysemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewaybold';
    src: url('raleway-bold-webfont-webfont.eot');
    src: url('raleway-bold-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway-bold-webfont-webfont.woff2') format('woff2'),
         url('raleway-bold-webfont-webfont.woff') format('woff'),
         url('raleway-bold-webfont-webfont.ttf') format('truetype'),
         url('raleway-bold-webfont-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayheavy';
    src: url('raleway-heavy-webfont-webfont.eot');
    src: url('raleway-heavy-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway-heavy-webfont-webfont.woff2') format('woff2'),
         url('raleway-heavy-webfont-webfont.woff') format('woff'),
         url('raleway-heavy-webfont-webfont.ttf') format('truetype'),
         url('raleway-heavy-webfont-webfont.svg#ralewayheavy') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{
	margin:0;
	padding:0;
}

body{
	background-color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
}
/* USER DASHBOARD CSS BEGINS HERE */
.mu-container{
	width:1080px;
	margin:auto;
	height:auto;
}
.mu-wrp{
	width:100%;
	float:left;
	height:auto;
	padding-top:15px;
}
.mu-crumbs{
	float:left;
	width:100%;
	height:auto;
	font-family: 'ralewaymedium';
	font-size:16px;
	color:#676767;
	text-transform:capitalize;
	padding:3px 0px 24px 0px; /* bottom = 16px */
}
.mu-crumbs a{
	color:#676767;
	text-decoration:none;
}
/*
.mu-crumbs a:hover, .mu-crumbs a.active{
	color:#000;
}
*/
.mu-crumbs a:hover{
	color:#676767;
	text-decoration:underline;
}
.mu-crumbs span{
	padding:0px 4px;
}
.mu-content{
	width:100%;
	float:left;
	height:auto;
	padding-bottom:20px;
}
.mu-LFcontnt{
	float:left;
	width:25.46%; /* 275 of 1080 */
	height:auto;
	padding:0px 0.8% 0px 0px;
}
.mu-lFiN{
	float:left;
	width:100%;
	height:auto;
}
.mu-lFhdR{
	float:left;
	width:97.5%;
	height:auto;
	border-bottom:1px solid #6f7371;
	padding:12px 0px 12px 2.5%;
}
.mu-lFhdR h1{
	font-family: 'ralewaysemibold';
	font-size:21px; /* 22 */
	color:#6f7371;
	text-transform:uppercase;
	font-weight:normal;
}
.mu-lFlsT{
	float:left;
	width:97.5%;
	height:auto;
	padding:13px 0px 0px 2.5%;
}
.mu-lFlsT ul{
	list-style-type:none;
	list-style-position:outside;
}
.mu-lFlsT ul li{
	float:left;
	width:auto;
	height:auto;
	clear:both;
	font-family: 'ralewayregular';
	font-size:16px;
	color:#6f7371;
	padding:0px 0px 10px 0px;
}
.mu-lFlsT ul li a{
	color:#6f7371;
	text-decoration:none;
}
.mu-lFlsT ul li a:hover, .mu-lFlsT ul li a.active{
	color:#d42027;
}
.mu-lFlsT ul li a.active.inactive{
	color:#6f7371;
}
.mu-RIcontnt{
	width:73.46%;
	float:left;
	height:auto;
}
.mu-rIhdR{
	width:98.5%;
	float:left;
	height:auto;
	padding:11px 0 10px 1.5%;
	margin-bottom:13px;/* 22 */
	border-bottom:1px solid #6f7371;
	border-top:1px solid #6f7371;
	position:relative;
}
.mu-printlink{
	position:absolute;
	top:16px;
	right:5px;
	width:auto;
	height:auto;
	font-family: 'ralewaybold';
	font-size:15px;
	color:#6f7371;
}
.mu-printlink a{
	color:#6f7371;
	text-decoration:underline;
}
.mu-printlink a:hover{
	color:#000;
	text-decoration:none;
}
.mu-rIhdR img{
	width:auto;
	height:auto;
	float:left;
	margin-right:10px;
	margin-top:-1px;
}
.mu-rIhdR h1{
	font-size:21px;
	font-family: 'ralewaysemibold';
	font-weight:normal;
	text-transform:uppercase;
	color:#6f7371;
	padding-top:1px;
	padding-bottom:1px;
}
.mu-rIhdR h1 span.small, .mu-rIhdR span.small{
	text-transform:lowercase;
}
.mu-FrwRp{
	width:98.5%;
	float:left;
	height:auto;
	padding-left:1.5%;
}
.mu-ri-txt{
	width:100%;
	float:left;
	height:auto;
	font-family: 'ralewayregular';
	font-size:16px;
	color:#6f7371;
	line-height:1.5;
	padding-bottom:16px; /* 22 */
}
.mu-ri-txt p{
	padding:0px 0px 7px 0px;
}
.mu-ri-txt p a{
	color:#6f7371;
}
.mu-ri-txt p a:hover{
	text-decoration:none;
}
.mu-frOuter{
	/*width:85.84%; 696px of 784px */
	width:100%;
	float:left;
	height:auto;
}
.mu-flds{
	width:85.84%; /* 696px of 784px */
	float:left;
	height:auto;
	padding-bottom:23px;
}
.mu-flds label{
	width:32.75%; /* 228px of 696px */
	float:left;
	height:auto;
	padding-top:15px;
	font-family: 'ralewaymedium';
	font-size:18px; /* 20 */
	color:#6f7371;
	text-transform:capitalize;
}
.mu-flds label span.small{
	text-transform:lowercase;
}
.mu-fldmwrap{
	float:left;
	width:67.25%;
	height:auto;
}
.mu-fldIn{
	width:67.25%;
	float:left;
	height:50px;
	background-color:#e5e5e5;
}
.mu-fldmwrap .mu-fldIn{
	width:100%;
}
.mu-fldIn input[type="text"]{
	width:98%;
	float:left;
	height:50px;
	padding-left:2%;
	border:none;
	background-color:transparent;
	font-family: 'ralewaymedium';
	font-size:18px;
	color:#727272;
}
.mu-fldIn select{
	width:98%;
	float:left;
	height:22px;
	padding-left:2%;
	margin-top:14px;
	border:none;
	background-color:transparent;
	font-family: 'ralewaymedium';
	font-size:18px;
	color:#727272;
}
.mu-fldIn.social{
	position:relative;
}
.mu-fldIn.social input[type="text"], .mu-fldIn.social select{
	width:41%; /* 49 */
	padding-left:57.2%; /* 48.5 */
}
.mu-fldIn.social.twt input[type="text"], .mu-fldIn.social.twt select{
	width:46.7%; /* 54 */
	padding-left:51.5%; /* 44 */
}
.mu-fldIn.social.lkin input[type="text"], .mu-fldIn.social.lkin select{
	width:44.2%; /* 52.4 */
	padding-left:54%; /* 45.6 */
}
.mu-fldIn.social .social-read{
	position:absolute;
	top:0px;
	left:0px;
	width:auto;
	height:20px;
	max-width:48%;
	font-family: 'ralewaymedium';
	font-size:18px;
	color:#727272;
	margin-top:15px;
	padding-left:2%;
}
.mu-fldIn.social .social-read button{
	float:left;
	width:auto;
	height:auto;
	border:0px;
	background-color:transparent;
	outline:none;
	font-family: 'ralewaymedium';
	font-size:18px;
	color:#727272;
}
.mu-accSub{
	width:93px;
	height:50px;
	float:right;
	border:none;
	background-color:#d72028;
	text-align:center;
	color:#FFF;
	cursor:pointer;
	font-family: 'ralewaymedium';
	font-size:16px; /* 18 */
}
.mu-accSub:hover{
	background-color:#9ba4a9;
}
.mu-fldIn-card{
	width:67.25%;
	float:left;
	height:auto;
}
.mu-card-date{
	width:30%;
	float:left;
	height:50px;
	margin-right:5%;
	background-color:#e5e5e5;
}
.mu-card-date select{
	width:96%;
	float:left;
	height:22px; /* 20 */
	padding-left:2%;
	padding-right:2%;
	margin-top:14px;
	border:none;
	background-color:transparent;
	font-family: 'ralewaymedium';
	font-size:18px;
	color:#727272;
}
.mu-last{
	margin-right:0;
}
.mu-fldIn-cvc{
	width:34%;
	float:left;
	height:50px;
	background-color:#e5e5e5;
}
.mu-fldIn-cvc.small{
	width:20%;
}
.mu-fldIn-cvc.small input[type="text"]{
	padding-left:4%;
	width:92%;
}
.mu-fldIn-cvc input[type="text"]{
	width:98%;
	float:left;
	height:50px;
	padding-left:2%;
	border:none;
	background-color:transparent;
	font-family: 'ralewaymedium';
	font-size:18px;
	color:#727272;
}
.mu-rad-wrp{
	width:67.25%;
	float:left;
	height:auto;
	padding-top: 15px;
}
.mu-rad{
	float: left;
    height: auto;
    padding-right: 2%;
    padding-top: 4px;
    width: 3%;
}
.mu-rad input{
	width:auto;
	float:left;
	height:auto;
}
.mu-rad-txt{
	float:left;
	width:auto;
	height:auto;
	font-family: 'ralewaymedium';
	font-size:18px;
	color:#6f7371;
}
.murOuter{
	width:100%;
	float:left;
	height:auto;
	padding-bottom:11px; /* 16 */
}
.muRad-sec{
	width:100%;
	float:left;
	height:auto;
}
/* Radio show hide css begins here */
.box{
	display:none;
	float:left;
	width:100%;
	padding-bottom:16px;
	margin-top:-8px;
}
/* Radio show hide css ends here */
.mu-tbl{
	width:100%;
	float:left;
	height:auto;
}
.mu-tbl table{
	width:100%;
}
.mu-tbl table tr th{
	padding-bottom:12px;
	border-bottom:1px solid #6f7371;
	font-family: 'ralewaysemibold';
	font-size:18px;
	color:#6f7371;
	font-weight:normal;
}
.mu-tbl table tr td{
	padding-bottom:5px;
	padding-top:15px;
	font-family: 'ralewayregular';
	font-size:17px;
	color:#727272;
	line-height:1.3;
}
.mu-tbl table tr td a img{
	border:none;
	background-color:transparent;
}
.mu-cusInfo{
	width:100%;
	float:left;
	height:auto;
	padding-bottom:12px; /* 18 */
}
.mu-cusInfo table{
	width:100%;
}
.mu-cusInfo table tr td{
	vertical-align:top;
	padding-bottom:10px; /* 15 */
}
.mu-cusInfo table tr td h2{
	font-family: 'ralewaysemibold';
	font-size:17px;
	font-weight:normal;
	color:#6f7371;
}
.mu-cusInfo table tr td p{
	font-family: 'ralewayregular';
	font-size:17px;
	color:#6f7371;
}
.mu-cusInfo table tr td p a{
	font-family: 'ralewayregular';
	text-decoration:none;
	color:#6f7371;
}
.mu-cusInfo table tr td p a:hover{
	text-decoration:underline;
}
.mu-courierInfo{
	width:49.8%;
	float:left;
	height:auto;
	margin-bottom:20px; /* 34 */
	border-right:1px solid #6f7371;
}
.mu-iconHd{
	width:100%;
	float:left;
	height:auto;
	padding-bottom:17px; /* 22 */
}
.mu-iconHd img{
	width:auto;
	float:left;
	margin-right:12px;
	margin-top:0px; /* 2 */
}
.mu-iconHd h1{
	font-family: 'ralewaysemibold';
	font-size:19px;
	font-weight:normal;
	color:#6f7371;
}
.mu-courierInfo01{
	width:45%;
	float:left;
	height:auto;
	margin-left:4.8%;
	margin-bottom:20px; /* 34 */
}
.mu-purItm{
	width:100%;
	float:left;
	height:auto;
}
.mu-purItm table{
	width:100%;
}
.mu-purItm table tr th{
	font-family: 'ralewaysemibold';
	font-size:17px;
	color:#6f7371;
	padding-bottom:4px; /* 15 */
	font-weight:normal;
}
.mu-purItm table tr td{
	/* font-family: 'sansserifflfdemibold'; */
	font-family: 'ralewayregular'; /* used in ecommerce detail page */
	font-size:16px;
	color:#6f7371;
	padding-bottom:12px;
	padding-top:12px;
	border-bottom:1px solid #6f7371;
	vertical-align:top;
	line-height:1.5;
}
.mu-purItm table tr.nbdr td{
	border-bottom:none;
	padding-bottom:0px;
}
.mu-purItm table tr td img{
	width:auto;
	height:auto;
	float:left;
	margin-right:20px;
}
.mu-purItm table tr td h2{
	font-family: 'ralewaysemibold';
	font-size:17px;
	font-weight:normal;
	color:#6f7371;
}
.mu-purItm table tr td span{
	font-family: 'ralewaymedium';
	font-size:17px;
	color:#6f7371;
}
.mu-purItm table tr td table{
	width:100%;
}
.mu-purItm table tr td table tr td{
	border:none;
	padding-top:3px; /* 5 */
	padding-bottom:3px; /* 5 */
}
.mu-purItm table tr td table tr td h2{
	font-family: 'ralewaysemibold';
	font-size:17px;
	font-weight:normal;
	color:#6f7371;
}
.mu-purItm table tr td h1{
	font-family: 'ralewaysemibold';
	font-size:22px;
	font-weight:normal;
	color:#6f7371;
}
.mu-purItm table tr td p{
	font-family: 'ralewaymedium';
	font-size:21px;
	color:#6f7371;
}
.no-bdr{
	border:none !important;
}
.mu-rIhdR h1 a{
	width:auto;
	float:right;
	padding-top:4px;
	font-size:15px; /* 18 */
	font-family: 'ralewaysemibold';
	text-decoration:none;
	color:#6f7371;
	text-transform:capitalize;
}
.mu-rIhdR h1 a img{
	width:auto;
	height:auto;
	margin-right:6px;
	margin-top:2px;
}
.mu-rIhdR h1 a:hover{
	text-decoration:underline;
}
.mu-pymtInfo{
	width:100%;
	float:left;
	height:auto;
}
.mu-pymtInfo ul{
	list-style-type:none;
}
.mu-pymtInfo ul li{
	width:98.5%;
	float:left;
	height:auto;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:1.5%;
	border-bottom:1px solid #6f7371;
}
.mu-pyInn{
	width:100%;
	float:left;
	height:auto;
}
.mu-pyDtal{
	width:97%;
	float:left;
	height:auto;
}
.mu-pyDtal table{
	width:100%;
}
.mu-pyDtal table tr td{
	padding-bottom:12px;
	vertical-align:top;
}
.mu-pyDtal table tr td h2{
	font-family: 'sansserifflfdemibold';
	font-size:20px;
	font-weight:normal;
	color:#6f7371;
}
.mu-pyDtal table tr td p{
	font-family: 'sansserifbookflfmedium';
	font-size:20px;
	color:#6f7371;
	line-height:1.3;
}
.mu-pyDtal table tr td a{
	color:#6f7371;
}
.mu-pyDtal table tr td a:hover{
	text-decoration:none;
}
.mu-pyDtal table tr td span{
	font-family: 'sansserifbookflfmedium';
	font-size:20px;
	color:#6f7371;
}
.mu-pyDel{
	width:3%;
	float:right;
	height:auto;
}
.mu-pyDel a img{
	border:none;
	background-color:transparent;
}
.mu-bilShpinfo{
	width:100%;
	float:left;
	height:auto;
	margin-bottom:13px; /* 22 */
	border-bottom:1px solid #6f7371;
}
.mu-bilShpinfo.no-bdr{
	margin-bottom:0px;
}
.no_padd{
	padding:0 !important;
	width:100%;
}
.add_padd{
	width:98.5%;
	padding-left:1.5%;
}
.mu-delEdt{
	width:100%;
	float:left;
	height:auto;
	padding-bottom:12px; /* 15 */
}
.mu-delEdt a{
	width:auto;
	float:right;
	height:auto;
}
.mu-delEdt a img{
	float:left;
	border:none;
	background-color:transparent;
}
.add_marng{
	margin-right:12px;
}
.mu-radWrp{
	width:100%;  /* FOr acct info radio button wrapper */
}
.mu-radWrp label{
	width:28.2%; /* FOr acct info radio button wrapper */
}
.mu-opDta{
	width:100%;
	float:left;
	height:auto;
	padding-top:20px;
	padding-bottom:15px;
	border-bottom:1px solid #6f7371;
}
.mu-opDta h3{
	width:100%;
	float:left;
	font-family: 'sansserifflfdemibold';
	font-size:18px;
	color:#727272;
	font-weight:normal;
}
.mu-opDta span{
	width:100%;
	float:left;
	padding-bottom:20px;
	line-height:1.3;
	font-family: 'sansserifbookflfmedium';
	font-size:16px;
	color:#727272;
}
.mu-opDta table{
	width:100%;
}
.mu-opDta table tr td{
	padding-bottom:12px;
	font-family: 'sansserifbookflfmedium';
	font-size:18px;
	color:#727272;
}
.mu-radFldrp{
	width:86%; /* For radio button hidden fields */
	margin-top:15px;
}
.mu-align{
	float:left;
}

.mu-otherdt{
	width:100%;
	float:left;
	height:auto;
	padding-bottom:15px;
}
.mu-otherdt label{
	width:100%;
	padding-bottom:12px;
}
.mu-otherdt .mu-fldIn{
	width:86%;
}
.mu-fldIn input[type="password"] {
    background-color: transparent;
    border: medium none;
    color: #727272;
    float: left;
	font-family: 'ralewaymedium';
	font-size:18px;
    height: 50px;
    padding-left: 2%;
    width: 98%;
}
/* USER DASHBOARD CSS ENDS HERE */

/* VENDOR DASHBOARD CSS BEGINS HERE */
.mu-RIcontntVN{
	width:70.46%;
	height:auto;
	float:left;
	padding-left:3%;
}
.mu-compAdd{
	width:100%;
	float:right;
	height:auto;
}
.mu-compAdd a{
	width:auto;
	float:right;
	border:none;
	text-decoration:none;
	font-size:18px;
	font-family: 'sansserifflfdemibold';
	color:#727272;
}
.mu-compAdd a img{
	width:auto;
	height:auto;
	margin-right:5px;
	border:none;
	background-color:transparent;

}
.mu-compAdd a:hover{
	text-decoration:underline;
}
.mu-hidnLocation{
	width:100%;
	float:left;
	height:auto;
}
.mu-fldInTxt{
	width:67.25%;
	float:left;
	height:275px;
	background-color:#e5e5e5;
}
.mu-fldInTxt textarea{
	width:98%;
	float:left;
	min-height:265px;
	height:auto;
	padding-left:2%;
	padding-top:10px;
	border:none;
	background-color:transparent;
	font-family: 'sansserifflfdemibold';
	font-size:18px;
	color:#727272;
}
.mu-fldInBrows{
	width:67.25%;
	float:left;
	height:50px;
	position:relative;
}
.mu-brIn {
	float:left;
	width:77.7%;
	height:auto;
}
.mu-brIn input {
	width:98%;
	height:50px;
	float:left;
	padding-left:2%;
	border:none;
	font-family: 'sansserifflfdemibold';
	font-size:18px;
	color:#727272;
	background-color:#e5e5e5;
}
.mu_file_input_div
{
 /* float:left;
 position: relative; */
 position:absolute;
 top:0px;
 left:0px;
 /* width:96px !important; */
 width:100%;
 height:50px;
 overflow: hidden;
 cursor:pointer!important;
}
.mu_file_input_button
{
 width:96px !important;
 height:50px;
 position: absolute; 
 top: 0px;
 right:0;
 background-color:#d72028;
 /*border:0px;*/
 border:none !important;
 cursor:pointer!important;
 color:#FFF;
 font-family: 'sansserifbookflfmedium';
 font-size:20px;
 text-align:center;
}

.mu_file_input_hidden
{
 font-size: 45px; 
 position: absolute; 
 right: 0px; 
 top: 0px; 
 opacity: 0; 
 
 filter: alpha(opacity=0); 
 -ms-filter: "alpha(opacity=0)"; 
 -khtml-opacity: 0; 
 -moz-opacity: 0;
 cursor:pointer!important;
 width: 100%;
 height:50px;
}
.mu-cmUsriNfo{
	width:98.5%;
	float:left;
	height:auto;
	padding-left:1.5%;
}
.mu-cmUsriNfo table{
	width:100%;
}
.mu-cmUsriNfo table tr td{
	padding-top:6px;
	padding-bottom:6px;
	border-right:1px solid #6f7371;
}
.mu-cmUsriNfo table tr td h3{
	font-family: 'sansserifflfdemibold';
	font-size:20px;
	color:#727272;
	font-weight:normal;
	line-height:1.4;
}
.mu-cmUsriNfo table tr td p{
	font-family: 'sansserifbookflfmedium';
	font-size:16px;
	color:#727272;
	line-height:1.5;
}
.mu-cmUsriNfo table tr td p a{
	text-decoration:none;
	color:#727272;
}
.mu-cmPdd{
	padding-left:10%;
}
.mu-comEdtpro a{
	width:auto;
}
.mu-preDate{
	width:auto;
	float:left;
	font-family: 'sansserifflfdemibold';
	font-size:18px;
	color:#727272;
	line-height:2.4;
}
.mu-cmSbHd{
	width:100%;
	float:left;
	height:auto;
	padding-bottom:23px;
}
.mu-cmSbHd h2{
	font-family: 'sansserifflfdemibold';
	font-size:20px;
	color:#727272;
}
.mu-snglSep{
	width:100%;
	float:left;
	height:auto;
	margin-bottom:23px;
	border-bottom:1px solid #6f7371;
}
.mu-hdnLoc{
	padding-bottom:0;
}
.mu-altLoc{
	width:67.25%;
	float:left;
	height:auto;
	padding-left:32.75%;
	padding-bottom:23px;
}
.mu-altLoc label{
	width:29%;
	font-size:18px;
}
.mu-hdnIn{
	width:71%;
	height:50px;
	float:left;
	background-color:#e5e5e5;
}
.mu-hdnIn.smallfld{
	width:26%;
}
.mu-hdnIn.smallfld input[type="text"]{
	width:92%;
	padding-left:4%;
}
.mu-hdnIn input[type="text"]{
	width:98%;
	float:left;
	height:50px;
	padding-left:2%;
	border:none;
	background-color:transparent;
	font-family: 'sansserifflfdemibold';
	font-size:18px;
	color:#727272;
}
.mu-hdnIn select{
	width:98%;
	float:left;
	height:20px;
	padding-left:2%;
	margin-top:14px;
	border:none;
	background-color:transparent;
	font-family: 'sansserifflfdemibold';
	font-size:18px;
	color:#727272;
}
.mu-hdnCHkRp{
	width:67.25%;
	float:left;
	height:auto;
	padding-left:32.75%;
	padding-bottom:13px;
}
.mu-hdnCHk{
	width:3%;
	float:left;
	height:auto;
	padding-top:3px;
}
.mu-hdnCHk input{
	width:auto;
	height:auto;
	float:left;
}
.mu-chkHtxt{
	width:auto;
	float:left;
	height:auto;
	padding-left:3%;
	font-family: 'sansserifflfdemibold';
	font-size:18px;
	color:#727272;
}
.mu-comChk{
	width:100%;
	float:left;
	height:auto;
	padding-bottom:13px;
}
.mu-comChk label{
	width:34%;
	float:left;
	height:auto;
	font-family: 'sansserifflfdemibold';
	font-size:18px;
	color:#727272;
}
.mu-cancle{
	margin-right:8px;
	background-color:#9ba4a9;
}
.mu-cancle:hover{
	background-color:#d72028;
}
.mu-flds sub{
	font-family:'sansserifflfmedium';
	padding-left:6px;
	color:#d72028;
	font-size:26px;
}
/* Send Invite slide css begins here */
.mu-inner {
	position: absolute;
	left:0;
	top: -26px;
	height:auto;
	background-color:#9ba4a9;
	width:365px;
	padding-top:10px;
	/* min-height:260px; */
	padding-bottom:14px; /* 12 */
}
.mu-sndArw{
	width:10px;
	height:14px;
	position:absolute;
	left:-10px;
	top:10px;
}
.mu-sldInner{
	width:91.8%;
	float:left;
	height:auto;
	padding:8px 4.1% 0 4.1%;
}
.mu-sldInner p{
	font-size:18px;
	color:#FFF;
	font-family: 'sansserifflfmedium';
	line-height:1.3;
	padding-bottom:20px;
}
.mu-sndInp{
	width:98%;
	float:left;
	height:50px;
	padding-left:2%;
	margin-bottom:18px;
	background-color:#FFF;
	border:none;
	font-size:18px;
	color:#727272;
	font-family: 'sansserifflfmedium';
}
.mu-sndSub:hover{
	background-color:#000;
	color:#FFF;
}
/* Send Invite slide css ends here */
.mu-comProd{
	width:100%;
	float:left;
	height:auto;
	padding-bottom:10px;
}
.mu-comProd table{
	width:100%;
}
.mu-comProd table tr th{
	border-bottom:1px solid #6f7371;
	padding-bottom:7px;
	padding-left:0.5%;
	padding-right:0.5%;
	vertical-align:top;
}
.mu-comProd table tr th h3{
	font-family: 'sansserifflfdemibold';
	font-size:18px; /* 20 */
	color:#727272;
	font-weight:normal;
}
.mu-tLfpd{
	padding-left:1.5%;
}
.mu-comProd table tr th.mu-tLfpd, .mu-comProd table tr td.mu-tLfpd{
	padding-left:1.5%;
}
.mu-comProd table tr td{
	font-size:17px; /* 18 */
	color:#727272;
	font-family: 'sansserifflfmedium';
	padding-bottom:12px;
	padding-top:14px;
	line-height:1.3;
	padding-left:0.5%;
	padding-right:0.5%;
	vertical-align:top;
}
.mu-comProd table tr td img{
	border:none;
	max-width:100%;
}
.mu-comProd table tr td table tr td{
	padding-top:0px;
	padding-bottom:0px;
}
.mu-comProd table tr td a{
	border:none;
	background-color:transparent;
	/*color:#FFF;*/
}
.mu-comProd table tr td a img{
	border:none;
	background-color:transparent;
}
.mu-riMnu{
	width:98.5%;
	float:left;
	height:auto;
	padding-left:1.5%;
	padding-bottom:22px;
}
.mu-riMnu ul{
	list-style-type:none;
}
.mu-riMnu ul li{
	width:auto;
	float:left;
	height:auto;
}
.mu-riMnu ul li a{
	width:auto;
	float:left;
	font-size:20px;
	color:#727272;
	font-family: 'sansserifflfdemibold';
	text-decoration:none;
}
.mu-eComsp{
	width:1px;
	height:18px;
	float:left;
	margin-left:10px;
	margin-right:10px;
	margin-top:2px;
	border-right:1px solid #878a89;
	background-color:#6f7371;
}
.mu-riMnu ul li a:hover, .mu-riMnu ul li a.current{
	color:#d42027;
}
.mu-ldGncol{
	width:100%;
	float:left;
	padding-bottom:13px;
	height:auto;
}
.mu-ldGncol h2{
	width:28%;
	float:left;
	font-size:20px;
	color:#727272;
	font-family: 'sansserifflfdemibold';
}
.mu-ldGncol p{
	width:67.25%;
	float:left;
	font-size:18px;
	color:#727272;
	font-family: 'sansserifflfdemibold';
}
/* New CSS by me Starts */
.mu-searchfrm{
	float: left;
	width: 98.5%;
	height: auto;
	padding:12px 0px 23px 1.5%;
}
.mu-searchfrm .mu-flds label{
	text-transform:none;
}
.mu-searchfrm .mu-fldIn{
	width: 32%;
}
.mu-searchfrm .mu-accSub{
	float:left;
	margin-left:15px;
}
/* New CSS by me Ends */
.mu-ldgnExp h1{
	width:auto;
	float:left;
}
.mu-gneXport{
	width:41.5%; /* 29 */
	float:right;
	height:auto;
	padding-top:4px;
}
.mu-gneXport h2{
	width:auto;
	float:left;
	padding-left:20px;
	padding-right:10px;
	background-image:url(../images/plsIcon.png);
	background-repeat:no-repeat;
	background-position:left 3px;
	font-size:18px;
	color:#727272;
	font-family: 'sansserifflfdemibold';
}
.mu-gneXport ul{
	list-style-type:none;
}
.mu-gneXport ul li{
	width:auto;
	float:left;
	height:auto;
	padding-top:3px;
}
.mu-gneXport ul li a{
	width:auto;
	float:left;
	height:auto;
	text-decoration:none;
	font-size:15px;
	color:#727272;
	font-family: 'sansserifflfmedium';
}
.mu-exPosep{
	width:1px;
	height:14px;
	float:left;
	margin-right:9px;
	margin-left:9px;
	margin-top:2px;
	background-color:#727272;
	border-left:1px solid #efefef;
	border-right:1px solid #efefef;
}
/* VENDOR DASHBOARD CSS ENSS HERE */

/* New CSS Starts Here 27-11-2014 */
.mu-flds{
	position:relative;
}
.ndelete-ico{
	position:absolute;
	width:auto;
	height:auto;
	top:3px;
	right:-101px;
}
.ndelete-ico a{
	float:left;
	width:auto;
	height:auto;
    font-family: "sansserifbookflfmedium";
    font-size: 17px;
	color: #727272;
	text-transform:capitalize;
	line-height:2.4;
	margin-right:6px;
}
.ndelete-ico a:hover{
	color: #d42027;
}
.ndelete-ico a img{
	float:left;
	width:40px;
	height:auto;
	border:none;
}
/* New CSS Ends Here 27-11-2014 */

/* New Ecommerce 13-8-1-2 section starts here */
.ec-display{
	float:left;
	width:100%;
	height:auto;
}
.ec-dfrm{
	float:left;
	width:100%;
	height:auto;
	padding:15px 0px 0px 0px;
}
.ec-dfrow{
	float:left;
	width:100%;
	height:auto;
}
.ec-dfbtn-row{
	float:left;
	width:100%;
	height:auto;
}
.ec-dfrm .ec-dfrow{
	padding:0px 0px 18px 0px;
}
.ec-dfrow a.ecship-lk{
	padding-left:17px;
	text-decoration:none;
	background-image:url(../images/ecship-lk.jpg);
	background-position:0px 5px;
	background-repeat:no-repeat;
	font-family: 'sansserifflfdemibold';
	font-size:17px;
	color:#6f7371;
}
.ec-dfrow a.ecship-lk.active{
	background-image:url(../images/ecship-lk-hr.jpg);
}
.ec-select{
	float:left;
	width:49%;
	height:auto;
}
.ec-textbox{
	float:right;
	width:49%;
	height:auto;
}
.ec-select .mu-hdnIn, .ec-textbox .mu-hdnIn{
	width:100%;
}
.ec-dfrow .mu-fldInTxt {
	width: 100%;
	height: 76px;
}
.ec-dfrow .mu-fldInTxt textarea {
	width: 97%; /* 100 - 4 */
	min-height: 56px; /* 275 - 20 */
	padding-top:0px;
	margin-top:10px;
	padding-left:1.5%;
}
.ec-error{
	float:left;
	width:97%;
	height:auto;
	font-family: 'sansserifflfdemibold';
	font-size:16px;
	color:#F00;
	padding:8px 0px 0px 1.5%;
}
.mu-purItm table tr.datarow td{
	padding-bottom:0px;
	border-bottom:none;
}
.mu-purItm table tr.ecshiprow td{
	padding-top:12px;
}
/* New Ecommerce 13-8-1-2 section ends here */

/* New CSS for special characters starts */
.special-row{
	float:left;
	width:100%;
	height:auto;
	position:relative;
}
.special-rp{
	position:absolute;
	top:7px;
	right:0px;
	width:12.5%; /* pad 1.66% */
	height:auto;
	z-index:100;
}
.special-rp ul{
	list-style-type:none;
	list-style-position:outside;
}
.special-rp ul li{
	float:left;
	width:auto;
	height:auto;
	position:relative;
}
.special-rp ul li:hover{
	padding-bottom:10px;
}
.special-rp ul li:hover .sp-dropdown{
	display:block;
}
.special-rp ul li:hover .sp-icon{
	background-color: #9ba4a9;
}
.sp-icon{
	display:block;
	float:left;
	width:39px;
	height:35px;
	cursor:pointer;
	text-decoration:none;
	outline:none;
	background-color:#d72028;
	text-align:center;
}
.sp-icon:hover{
	background-color: #9ba4a9;
}
.sp-icon img{
	border:none;
	text-align:center;
	position:relative;
	top:7px;
}
.sp-dropdown{
	display:none;
	position:absolute;
	top:20px;
	left:50%;
	width:170px;
	height:auto;
	margin-left:-100px; /* 85 + 15 */
	padding-top:20px;
	padding-left:15px;
	padding-right:15px;
}
.sp-arrow{
	float:left;
	width:0px;
	height:0px;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	border-bottom:10px solid #9ba4a9;
	position:relative;
	left:50%;
	margin-left:-10px;
	margin-bottom:-1px;
	z-index:10;
}
.sp-ddinner{
	float:left;
	width:96%;
	height:auto;
	padding:2% 2% 0px 2%;
	border:1px solid #e5e5e5;
	background-color:#9ba4a9;
	position:relative;
	z-index:9;
}
.sp-ddinner table{
	float:left;
	width:100%;
	height:auto;
}
.sp-ddinner table tr td{
	padding:0px 2px;
	vertical-align:middle;
	text-align:left;
	border-bottom:1px solid #e5e5e5;
    font-family: 'ralewayregular';
	font-size:16px;
	color:#FFF;
}
.sp-ddinner table tr td span.ico{
	font-family: 'ralewaysemibold';
	font-size:21px;
}
.sp-ddinner table tr.last td{
	border-bottom:none;
}
/* New CSS for special characters starts */

/* Popup CSS Starts */
.popup-container{
	width:520px;
}
.pop-wraper{
	float:left;
	width:97.7%;
	height:auto;
	padding:1.15%;
	position:relative;
}
.pop-trans-bg{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:1;
	background-color:#FFF;
	/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  /* IE 5-7 */
  filter: alpha(opacity=50);
  /* Netscape */
  -moz-opacity: 0.5;
  /* Safari 1.x */
  -khtml-opacity: 0.5;
  /* Good browsers */
  opacity: 0.5;
}
.pop-inner{
	float:left;
	width:95%; /*/ 100 - 5 */
	height:auto;
	position:relative;
	z-index:2;
	background-color:#FFF;
	padding:13px 2.5% 2px 2.5%;
    font-family: 'ralewaymedium';
	font-size:15px;
	color:#000000;
	line-height:1.4;
}
.pop-inner h1{
	font-family: 'ralewaybold';
	font-size:26px;
	color:#000000;
	font-weight:normal;
	padding:0px 0px 6px 0px;
	text-transform:uppercase;
}
.pop-inner p{
	padding:0px 0px 17px 0px;
}
.pop-inner p span{
    font-family: 'ralewaybold';
}
body .fancybox-overlay {
	z-index: 9999999;
}
/* popup CSS Ends */
