*{
	margin:0px;
	padding:0px;
}
.msgshow_box{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:9999999;
}

.msgshow_box2{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:9999999; /* 1000 */
}
.msgbox_bg{
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index:1500;
	background-color:#000;
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	/* IE 5-7 */
	filter: alpha(opacity=70);
	/* Netscape */
	-moz-opacity: 0.7;
	/* Safari 1.x */
	-khtml-opacity: 0.7;
	/* Good browsers */
	opacity: 0.7;
}


.msgbox_bg1{
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index:1500;
/*	background-color:#000;
*/	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	/* IE 5-7 */
	filter: alpha(opacity=70);
	/* Netscape */
	-moz-opacity: 0.7;
	/* Safari 1.x */
	-khtml-opacity: 0.7;
	/* Good browsers */
	opacity: 0.7;
}
#mbox_setting{
	position:absolute;
	width:459px;
	height:100px;
	top:50%;
	left:50%;
	margin-top:-50px;
	margin-left:-229px;
	z-index:2000;
}
.mbox_wrap{
	float:left;
	width:459px;
	height:auto;
	position:relative;
}
.mbox_tb{
	float:left;
	width:459px;
	height:auto;
}
.mbox_tb img{
	float:left;
	width:100%;
	height:auto;
	border:none;
}
.mbox_inner{
	float:left;
	width:409px; /* 459 - 40 */
	height:auto;
	padding:6px 25px 3px 25px;
	background-image:url(../img/mbox_inner.png);
	background-position:top left;
	background-repeat:repeat-y;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#000;
	line-height:1.4;
}
.mbox_inner h2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#000;
	text-transform:capitalize;
	padding:0px 0px 5px 0px;
}
.mbox_inner p{
	padding:0px 0px 5px 0px;
}
.mbox_inner a{
	color:#000;
}
.mbox_inner a:hover{
	text-decoration:none;
}
.close_box{
	position:absolute;
	width:27px;
	height:28px;
	top:-10px;
	right:-11px;
}
.close_box a{
	float:left;
	display:block;
	outline:none;
	text-decoration:none;
	width:27px;
	height:28px;
	cursor:pointer;
	background-image:url(../img/close_box.png);
	background-position:top left;
	background-repeat:no-repeat;
}
.close_box a:hover{
	background-position:bottom left;
}