@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'open_sansregular';
    src: url('opensans-regular-webfont.eot');
    src: url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-regular-webfont.woff') format('woff'),
         url('opensans-regular-webfont.ttf') format('truetype'),
         url('opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('opensans-semibold-webfont.eot');
    src: url('opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-semibold-webfont.woff') format('woff'),
         url('opensans-semibold-webfont.ttf') format('truetype'),
         url('opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansbold';
    src: url('opensans-bold-webfont.eot');
    src: url('opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-bold-webfont.woff') format('woff'),
         url('opensans-bold-webfont.ttf') format('truetype'),
         url('opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanslight';
    src: url('opensans-light-webfont.eot');
    src: url('opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-light-webfont.woff') format('woff'),
         url('opensans-light-webfont.ttf') format('truetype'),
         url('opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansitalic';
    src: url('opensans-italic-webfont.eot');
    src: url('opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-italic-webfont.woff') format('woff'),
         url('opensans-italic-webfont.ttf') format('truetype'),
         url('opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
*{
	margin:0;
	padding:0;
}
.login-bg{
	width:100%;
	height:100%;
	position:fixed;
	background-color:#66963b;
	z-index:1;
}
.login-content{
	width:432px;
	position:relative;
	margin:auto;
	top:20%;
	z-index:2;
}
.login-hd{
	width:100%;
	height:auto;
	float:left;
	text-align:center;
	padding-bottom:8px;
	padding-top:8px;
	margin-bottom:24px;
	border-bottom:1px solid #FFF;
	border-top:1px solid #FFF;
}
.login-hd h1{
	font-size:20px;
	color:#FFF;
	font-weight:normal;
	font-family: 'open_sansbold';
	text-transform:uppercase;
}
.log-frm-wrp{
	width:99%;
	height:auto;
	min-height:230px;
	padding-top:24px;
	float:left;
	border:6px solid #b3cb9d;
	border-radius:6px;
	background-color:#FFF;
}
.log-fld{
	width:93.75%;
	float:left;
	height:auto;
	padding-left:6.25%;
	padding-bottom:15px;
	position:relative;
}
.log-fld label{
	width:100%;
	float:left;
	padding-bottom:8px;
	font-size:13px;
	color:#555555;
	font-family: 'open_sansregular';
}
.email-bg{
	width:338px;
	height:27px;
	float:left;
	padding-left:40px;
	background:url(../images/log-email-bg.jpg) no-repeat;
}
.pass-bg{
	width:338px;
	height:27px;
	float:left;
	padding-left:40px;
	background:url(../images/log-pass-bg.jpg) no-repeat;
}
.email-bg input[type="text"], .pass-bg input[type="password"]{
	width:98%;
	float:left;
	height:27px;
	font-size:12px;
	color:#555555;
	font-family: 'open_sansregular';
	border:none;
	background-color:transparent;
}
.log-chk{
	width:auto;
	float:left;
	height:auto;
}
.log-chk input[type="checkbox"]{
	width:auto;
	height:auto;
	float:left;
	margin-right:8px;
	margin-top:2px;
}
.log-chk span{
	width:auto;
	float:left;
	font-size:13px;
	color:#555555;
	font-family: 'open_sansregular';
}
.passLos{
	width:auto;
	float:right;
	padding-right:27px;
	font-size:12px;
	color:#00aff0;
	font-family: 'open_sansregular';
	text-decoration:none;
}
.passLos:hover{
	text-decoration:underline;
}
.log-sub{
	width:409px;
	float:left;
	height:auto;
	padding-top:10px;
	padding-left:19px;
	border-top:1px solid #eeeeee;
}
.log-sub input[type="submit"]{
	width:388px;
	float:left;
	height:38px;
	padding-left:20px;
	border:none;
	background-color:transparent;
	cursor:pointer;
	font-size:15px;
	font-family: 'open_sansregular';
	color:#555555;
	background-image:url(../images/signIn-btn.jpg);
	background-repeat:no-repeat;
}
.error{
	width:auto;
	position:absolute;
	left:27px;
	bottom:0;
	font-size:12px;
	font-family: 'open_sansregular';
	color:#F00;
}

