@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'sansserifflfmedium';
    src: url('sansserifflf-webfont.eot');
    src: url('sansserifflf-webfont.eot?#iefix') format('embedded-opentype'),
         url('sansserifflf-webfont.woff') format('woff'),
         url('sansserifflf-webfont.ttf') format('truetype'),
         url('sansserifflf-webfont.svg#sansserifflfmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sansserifbookflfmedium';
    src: url('sansserifbookflf-webfont.eot');
    src: url('sansserifbookflf-webfont.eot?#iefix') format('embedded-opentype'),
         url('sansserifbookflf-webfont.woff') format('woff'),
         url('sansserifbookflf-webfont.ttf') format('truetype'),
         url('sansserifbookflf-webfont.svg#sansserifbookflfmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sansserifflfdemibold';
    src: url('sansserifflf-demibold-webfont.eot');
    src: url('sansserifflf-demibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('sansserifflf-demibold-webfont.woff') format('woff'),
         url('sansserifflf-demibold-webfont.ttf') format('truetype'),
         url('sansserifflf-demibold-webfont.svg#sansserifflfdemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sansserifexbflfmedium';
    src: url('sansserifexbflf-webfont.eot');
    src: url('sansserifexbflf-webfont.eot?#iefix') format('embedded-opentype'),
         url('sansserifexbflf-webfont.woff2') format('woff2'),
         url('sansserifexbflf-webfont.woff') format('woff'),
         url('sansserifexbflf-webfont.ttf') format('truetype'),
         url('sansserifexbflf-webfont.svg#sansserifexbflfmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'MyriadProRegular';
    src: url('myriadpro-webfont.eot');
    src: url('myriadpro-webfont.eot?#iefix') format('embedded-opentype'),
         url('myriadpro-webfont.woff') format('woff'),
         url('myriadpro-webfont.ttf') format('truetype'),
         url('myriadpro-webfont.svg#MyriadProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
	padding:0;
	margin:0;
}

body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:100.01%;
	color:#000;
}
input, button, select, textarea{
	outline:none;
}
.wrapper{
	width:1080px;
	height:auto;
	margin:auto;
}
.main_wrap{
	float:left;
	width:1080px;
	height:auto;
}
.shd_w{
	text-shadow: 1px 1px rgb(214, 234, 154); /* :) */
	filter: DropShadow(Color=#d6ea9a, OffX=1, OffY=1, Positive=1); /* :( */
}
.minwidth{
	min-width:1080px;
}

/* CSS Starts Here */
#cs-wrapper{
	float:left;
	width:100%;
	height:auto;
	position:relative;
	overflow:hidden;
}
.cs-bg{
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index:1;
	overflow:hidden;
}
.cs-bg img{
	float:right;
	width:auto;
	height:auto;
	border:none;
	min-height:100%;
	min-width:100%;
}
.cs-line{
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index:2;
	background-image:url(../images/cs-lines.png);
	background-position:top left;
	background-repeat:repeat;
}
.cs-inner{
	float:left;
	width:95%;
	height:auto;
	margin:0px 2.5%;
	position:relative;
	z-index:3;
}
/* CSS Ends Here */

/* CS Header Starts Here */
.cs-header{
	float:left;
	width:97.6%;
	height:auto;
	padding:0px 1.2% 0px 1.2%;
	position:relative;
}
.cs-left-line{
	position:absolute;
	top:57px;
	left:0px;
	width:1.8%; /* 25 of 1080 = 2.314 */
	height:1px;
	background-image:url(../images/cs-ftbg.png);
	background-position:bottom left;
	background-repeat:repeat-x;
}
.cs-right-line{
	position:absolute;
	top:57px;
	right:0px;
	width:83.7%; /* 859 of 1080 = 2.314 */
	height:1px;
	background-image:url(../images/cs-ftbg.png);
	background-position:bottom left;
	background-repeat:repeat-x;
}
.cs-logo{
	float:left;
	width:auto;
	height:auto;
	padding:21px 0px 0px 1.6%; /* 1.6 = 18 */
}
.cs-logo img{
	float:left;
	width:auto;
	height:auto;
	border:none;
}
.csbeta-btn{
	float:right;
	width:auto;
	height:auto;
	padding:3px;
	margin-top:10px;
	background-image:url(../images/csbeta-btn.png);
	background-position:top left;
	background-repeat:repeat;
}
.csbeta-btn a{
	display:block;
	position:relative;
	float:left;
	width:auto;
	height:auto;
	cursor:pointer;
	background-color:#d52027;
	font-family: 'sansserifbookflfmedium';
	font-size:16px;
	color:#ffffff;
	padding:6px 9px 3px 9px;
	text-decoration:none;
}
.csbeta-btn a:hover{
	background-color:#878787;
}
.csbeta-btn a span{
	position:relative;
	top:-3px;
	padding:0px 6px 0px 0px;
}
.csbeta-btn a img{
	position:relative;
	border:none;
}
/* CS Header Ends Here */

/* CS Intern Body Section Starts Here */
.innter-sec{
	float:left;
	width:97.6%;
	height:auto;
	padding:0px 1.2% 0px 1.2%;
}
.intbl-rp{
	float:left;
	width:100%;
	height:auto;
	font-family: 'sansserifbookflfmedium';
	font-size:26px;
	color:#ffffff;
	line-height:1.5;
}
.intbl-rp a{
	color:#ffffff;
	text-decoration:underline;
}
.intbl-rp a:hover{
	text-decoration:none;
}
.intbl-rp table{
	float:left;
	width:100%;
	height:auto;
	border:none;
}
.intbl-rp table tr td{
	width:100%;
	text-align:center;
	vertical-align:middle;
}
.intbl-rp h1{
	font-family: 'sansserifexbflfmedium';
	font-size:50px;
	color:#FFF;
	text-transform:uppercase;
	padding:0px 0px 5px 0px;
	font-weight:normal;
}
.intbl-rp p{
	padding:0px 0px 2px 0px;
}
/* CS Intern Body Section Ends Here */


/* CS Footer Starts Here */
.cs-footer{
	float:left;
	width:97.6%;
	height:auto;
	padding:0px 1.2% 24px 1.2%;
	/* margin:0px 0px 48px 0px; */
	background-image:url(../images/cs-ftbg.png);
	background-position:bottom left;
	background-repeat:repeat-x;
}
.cs-fcol{
	float:left;
	width:50%;
	height:auto;
    font-family: 'sansserifflfdemibold';
	font-size:19px;
	color:#ffffff;
}
.cs-fcol.right{
	text-align:right;
	padding-top:0px; /* 9 */
	margin-top:-3px; /* New added */
}
.cs-fcol a{
	color:#ffffff;
}
.cs-fcol a:hover{
	text-decoration:none;
}
.csf-frm{
	float:left;
	width:336px;
	height:auto;
}
.csf-frow{
	float:left;
	width:100%;
	height:auto;
}
.csf-txtbox{
	float:left;
	width:234px;
	height:auto;
	min-height:39px;
	background-image:url(../images/csf-txtbox.png);
	background-position:top left;
	background-repeat:no-repeat;
}
.csf-txtbox input{
	float:left;
	width:212px; /* 234 - 22 */
	height:24px;
	margin:5px 0px 9px 11px; /* 2px 0px 2px 11px */
	border:none;
	background-color:#FFF;
	font-family: 'sansserifbookflfmedium';
	font-size:16px;
	color:#a9a9a9;
	line-height:1.5;
}
.csf-btn{
	float:right;
	width:91px;
	height:auto; /* 36px */
}
.csf-btn input{
	float:left;
	width:91px;
	height:36px;
	border:none;
	background-color:transparent;
	cursor:pointer;
	font-family: 'sansserifbookflfmedium';
	font-size:16px;
	color:#FFF;
	text-transform:uppercase;
	text-align:center;
	background-color:#d52027;
}
.csf-btn input:hover{
	background-color:#878787;
}
/* CS Footer Ends Here */


/* Popup CSS Starts */
.popup-container{
	width:520px;
}
.pop-wraper{
	float:left;
	width:97.7%;
	height:auto;
	padding:1.15%;
	position:relative;
}
.pop-trans-bg{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:1;
	background-color:#FFF;
	/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  /* IE 5-7 */
  filter: alpha(opacity=50);
  /* Netscape */
  -moz-opacity: 0.5;
  /* Safari 1.x */
  -khtml-opacity: 0.5;
  /* Good browsers */
  opacity: 0.5;
}
.pop-inner{
	float:left;
	width:95%; /*/ 100 - 5 */
	height:auto;
	position:relative;
	z-index:2;
	background-color:#FFF;
	padding:13px 2.5% 2px 2.5%;
	font-family: 'sansserifbookflfmedium';
	font-size:16px;
	color:#000000;
	line-height:1.4;
}
.pop-inner h1{
	font-family: 'sansserifexbflfmedium';
	font-size:26px;
	color:#000000;
	font-weight:normal;
	padding:0px 0px 6px 0px;
	text-transform:uppercase;
}
.pop-inner p{
	padding:0px 0px 10px 0px;
}
.login-frmrp{
	float:left;
	width:100%;
	height:auto;
	padding:10px 0px 0px 0px;
}
.login-frow{
	float:left;
	width:100%;
	height:auto;
	padding:0px 0px 20px 0px;
}
.log-error{
	float:left;
	width:98.8%; /* 100 - 1.2 */
	height:auto;
	padding-top:6px;
	padding-left:1.2%; /* 6 of 468 */
	margin-bottom:-6px;
    font-family: 'sansserifflfdemibold';
	font-size:14px;
	color:#F00;
}
.login-txtboxbg{
	float:left;
	width:98.8%; /* 100 - 1.2 */
	height:auto;
	padding-left:1.2%; /* 6 of 468 */
	background-color:#d52027;
}
.login-txtbox{
	float:left;
	width:95%; /* 100 - 5 */
	height:auto;
	padding:9px 2.5% 9px 2.5%;/* 14 of 462 */
	background-color:#f0f0f0;
}
.login-txtbox input{
	float:left;
	width:100%;
	height:24px;
	border:none;
	background-color:#f0f0f0;
	font-family: 'sansserifbookflfmedium';
	font-size:16px;
	color:#727272;
	line-height:1.5;
}
/* popup CSS Ends */



