/* ********** */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,
pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
	margin			: 0;
	padding			: 0;
}
	#gridContenidos {
		
		position:relative;
		margin:auto;
		overflow:hidden;
		
		width:900px;
		padding-bottom:5px;
		padding-left:5px;
		padding-right:5px;
		
		/*left:50%;
		margin:-5px auto auto -455px;*/
		margin:			0 auto;
	}
	
	.js-on #gridContenidos{
		overflow:visible;
		margin-top: auto;
	}
	
	#gridContenidos.home1.absoluto {
		height:960px;
		overflow:			visible;
	}
#gridContenidos.products, #gridContenidos.product {
	/*padding-left: 13px;*/
	overflow: inherit !important;
	position: relative;
	float:left;
}


/*///// INI: PRODUCTO /////*/

.product .return {
	position: absolute;
	top: 50px;
	left: 13px;
	z-index: 100;
}
.product .return a {
	background: #FFF url(/eshop/resources/df_back_ico1.gif) no-repeat left center;
	color: #9F9F9F;
	font-size: 11px;
	line-height: 14px;
	text-transform: uppercase;
	padding: 5px 5px 5px 25px;
}

/* SLIDESHOW */

.slideshow {
	position: relative;
	width: 100%;
	clear: both;
}
#carousel {
	list-style: none;
	display: block;
}
#carousel li {
	text-align: right;
	width: 455px; /* 650px */
	height: 455px; /* 435px 336 */
	/* border: 1px solid #FFF; */
	display: none;
	position: relative;
	/* margin-top: 20px; */
	z-index: 5;
	background: #FFF;
}
#carousel li:hover {
	/*border: 1px solid #D7D7D7;*/
	z-index: 50;
}
#pager {
	position: relative;
	width: 100%;
	display: table;
	border-collapse: separate;
	/* border-spacing: 5px; */
	margin: auto; /* 5px auto */
	z-index: 2;
	clear: both;
}
#pager a {
	position: relative;
	display: table-cell;
	text-align: center;
	width: 27.72%; /* auto */
	vertical-align: top;
	*float: left;
	float:left;
	margin: 0px 0px 10px 0px;
}

#pager a + a{
	margin-left:7.8%; /* left 36 of 458 */
}
#pager .timer {
	position: relative;
	z-index: 50;
	background-color: #D7D7D7;
	width: 0px;
	height: 5px;
	display: block;
	*right: 0;
}
#pager a.selected .timer {
	background-color: #A1A1A1;
}
#pager .timer_off {
	background-color: #D7D7D7;
	height: 5px;
	display: block;
	margin-top: -5px;
}
#pager .photo {
	background-color: #FFF;
	position: relative;
	z-index: 25;
	width: 98.4%; /* 100 */
	display: block;
	border: 1px solid #D7D7D7;
	height: 115px; /* 150 */
}
#pager .photo:hover {
	border: 1px solid #B5B5B5;
}
#pager.collapse .photo {
	position: absolute;
}

#pager .photo img {
	cursor: pointer;
	margin-top: 20px;
}
.purchase .photo img {
	cursor: pointer;
}

.slideshow .arrow {
	position: relative;
	clear: both;
	cursor: pointer;
	float: right;
	top: 20px;
	*top: 174px;
	right: -45px;
}
.slideshow .arrow a {
	background: url("../images/frdCar-arr.png") no-repeat center top;
	display: block;
	width: 35px !important;
	height: 29px;
	border-top: none;
}
.slideshow .arrow a:hover {
	background: url("../images/frdCar-arr.png") no-repeat center top;
}
.slideshow .arrow a.collapse {
	background-position: center bottom;
}

/* DESCRIPTION */

.product .description {
	position: relative;
	float:right;
	right: 5px;
	margin-top: 60px;
	text-align: right;
	z-index: 10;
}
.product .description h1 {
	font-family: "FuturaLight", Malgun Gothic;
	font-size: 40px;
	color: #ED1A2D;
	float: right;
	/*white-space: nowrap;*/
	z-index: 10;
}
.product .description .reference {
	font-size: 12px;
	color: #A1A1A1;
	clear: both;
}
.product .description .price {
	font-family: "FuturaLight", Malgun Gothic;
	font-size: 18px;
	color: #757575;
	margin-top: 10px;
	vertical-align: text-top;
}
.product .description .price .currency {
	margin-left: 4px;
}
.product .description .offer {
	color: #ED1A2D;
}
.product .description .offer .old {
	color: #666;
	font-size: 12px;
	line-height: 20px;
}
.product .description .offer .old strike {
	color: #999;
	margin-right: 4px;
}
.product .description .plazos_pago {
	font-family: "FuturaLight", Malgun Gothic;
	font-size: 12px;
	color: #757575;
	margin-top: 10px;
	vertical-align: text-top;
}
.product .description .size {
	position: absolute;
	right: 0px;
	width: 150px;
	margin-top: 10px;
	z-index: 50;
}
.product .description .size ul {
	overflow: hidden;
	background-color: #FFF;
	color: #757575;
	border: 1px solid #DEDEDE;
}
.product .description .size ul:hover {
	border: 1px solid #B5B5B5;
}
.product .description .size ul.highlight {
	border: 2px solid #ED1A2C;
}
.product .description .size ul li {
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
	padding: 10px 8px 0;
	*padding-right: 10px;
}
.product .description .size ul li.first, .product .description .size ul.collapsed li.disable {
	display: none;
}
.product .description .size ul.extended li, .product .description .size ul.extended li.disable, .product .description .size ul.collapsed li.enable {
	display: block;
}
.product .description .size ul li:hover {
	background-color: #F6F6F6;
}
.product .description .size ul li.first:hover {
	background-color: #FFF;
}

.product .description .size ul li strong {
	color: #ED1A2C;
	font-weight: normal;
}

.product .description .size ul li div span {
	color: #ED1A2C;
	font-weight: normal;
}

.product .description .size ul li div {
	padding: 2px;
	float: left;
}
.product .description .size ul li{
	height: 25px;
	*height: 23px;
}

.product .description .buttons {
	float: right;
	width: 150px;
	text-align: center;
	margin-top: 60px;
}
.product .description .buttons .info {
	background-color: transparent;
	font-size: 10px;
	float: right;
	margin: 0px;
	padding-bottom: 15px;
}
.product .description .buttons a {
	color: #FFF;
    font: 13px/40px FuturaMedium, Malgun Gothic;
    text-transform: uppercase;
	text-align: center;
	display: block;
	clear: both;
}
.product .description .buttons .add_b1 {
	background-color: #ED1A2C;
}
.product .description .buttons .add_b1:hover {
	background-color: #AC0010;
}
.product .description .buttons .mod_b1 {
	background-color: #9B9B9B;
}
.product .description .buttons .mod_b1:hover {
	background-color: #888888;
}
.product .description .buttons .save_b1 {
	background-color: #9b9b9b;
}
.product .description .buttons .save_b1:hover {
	background-color: #6d6d6d;
}
.product .description .buttons .share_b1 {
	background-color: #2b74d9;
}
.product .description .buttons .share_b1:hover {
	background-color: #2767c1;
}
.product .description .purchase {
	float: right;
	clear: both;
	width: 150px;
	text-align: center;
	margin-top: 20px;
}
.product .description .purchase h4 {
	font-family: "FuturaLight", Malgun Gothic;
	font-size: 16px;
	margin-top: 10px;
}


