@charset "utf-8";
/* CSS Document */

@media only screen and (min-width:992px) and (max-width:1199px) {
	
	.auto-container{
		width: 96%;
	}
	.footr-wrp{
		width: 100%;
	}
	.footr-wrp-2 {
		width:100%;
	}
	.auto-container-hed {
		width: 100%;
	}
	
	
	/* Search Section Starts */
	.search-sec {
		margin-left:26.5%;
	}
	/* Search Section Ends */
	
	/* Banner Setting Starts */
	.wdth-50 {
		top:auto;
		bottom:27px;
	}
	.wdth-50 p {
		font-size: 44px !important;
	}
	.bnr-sec a.bnr-fb{
		width: 200px;
		height: 32px;
		background-size: cover;
	}
	.bnr-sec a.bnr-eml {
		width: 182px;
		height: 32px;
		background-size: cover;
	}
	/* Banner Setting Ends */
	
	/* Map Section Starts */
	#map-container{
		width:100%!important;
	}
	/* Map Section Ends */
	
	/* Save Average Section Starts */
	.only-for-lft ul li span {
		width: 80px;
	}
	.only-for-lft ul li table {
		width: 73%;
	}
	/* Save Average Section Ends */
	
	/* Sign Up Section Starts */
	.hm-srch-fld {
		width:100%;
	}
	/* Sign Up Section Ends */
	
	/* Footer CSS Starts */
	.col-md-3.connectSec.pad-rgt-0{
		padding-right: 15px!important;
	}
	.ftr-lnk-3 img{
		margin-right: 4px;
	}
	/* Footer CSS Ends */
	
	/* Blog Settings Starts */
	.blog-aside{
		padding-left:15px;
	}
	.blog-list-tit h2{
		font-size: 40px;
	}
	.blog-list-date p{
		font-size: 17px;
	}
	.blog-list-txt, 
	.blog-detail-txt{
		font-size: 19px;
	}
	.blog-lst-btn{
		margin-top:6px;
	}
	.blog-lst-btn a{
		width: 60%;
	}
	.blog-list-inner{
		padding-left:2%;
		padding-right:2%;
	}
	.discus-sec a{
		font-size: 18px;
	}
	/* Blog Settings Ends */

	/* Careers Detail Starts */
	.crd-det-midd{
		line-height:1.5;
	}
	
	
}

