@charset "utf-8";
/* CSS Document */

@media only screen and (min-width:768px) and (max-width:991px) {
	
	.auto-container{
		width: 96%;
	}
	.footr-wrp{
		width: 100%;
	}
	.footr-wrp-2 {
		width:100%;
	}
	.auto-container-hed {
		width: 100%;
	}
	
	/* Navigation Settings Starts */
	.nav>li>a {
		margin-left: 23px;
	}
	.nav li.shop-nav {
		margin-left: 22px;
	}
	.nw-nav-bx {
		left: 17%;
	}
	/* Navigation Settings Ends */
	
	/* Search Section Starts */
	.search-sec {
		margin-left:31.5%;
	}
	/* Search Section Ends */
	
	/* Banner Setting Starts */
	.wdth-50 {
		top:auto;
		bottom:27px;
	}
	.wdth-50 p {
		font-size: 38px !important;
	}
	.bnr-sec a.bnr-fb{
		width: 200px;
		height: 32px;
		background-size: cover;
	}
	.bnr-sec a.bnr-eml {
		width: 182px;
		height: 32px;
		background-size: cover;
	}
	/* Banner Setting Ends */
	
	/* Map Section Starts */
	#map-container{
		width:100%!important;
		margin-top: 45px;
	}
	#map {
		height: 329px!important;
	}
	/* Map Section Ends */
	
	/* Save Average Section Starts */
	.only-for-lft ul li span {
		width: 80px;
	}
	.only-for-lft ul li table {
		width: 69%;
	}
	/* Save Average Section Ends */
	
	/* Sign Up Section Starts */
	.hm-srch-fld {
		width:100%;
	}
	/* Sign Up Section Ends */
	
	/* Footer CSS Starts */
	.col-md-3.connectSec{
		padding-right: 15px!important;
		padding-left: 15px!important;
	}
	/* Footer CSS Ends */
	
	/* About Page CSS Starts */
	
	/* Banner Seciton Starts */
	.whted-bg {
		background-position: top center;
	}
	/* Banner Seciton Ends */
	
	.brd-whit h2{
		font-size: 48px;
		word-break: break-word;
	}
	.side-nav {
		width: 104%;
	}
	.side-nav ul li a{
		font-size:17px;
	}
	.whted-rgt-bx-rgt{
		padding: 12px 0px 0px;
	}
	/* Link 02 Page Setting */
	.guid-rw.mobile-nhide{
		display:none;
	}
	.hng{
		width: 15%;
	}
	.abt-get-txt {
		width: 82%;
	}
	/* FAQ Page Settings Starts */
	.faq-srch{
		width: 80%;
	}
	.faq-accord .panel{
		margin-bottom: 12px;
	}
	
	/* About Page CSS Ends */
	
	/* Blog Settings Starts */
	.blog-aside{
		padding-left:15px;
	}
	.blog-main{
		width:100%;
	}
	.blog-lst-wrp{
		padding:0px;
	}
	.blog-list-tit h2{
		font-size: 30px;
	}
	.blog-list-date p{
		font-size: 17px;
	}
	.blog-list-txt, 
	.blog-detail-txt{
		font-size: 18px;
	}
	.blog-lst-btn{
		margin-top:6px;
	}
	.blog-lst-btn a{
		width: 71%;
	}
	.blog-list-inner{
		padding-left:2%;
		padding-right:2%;
	}
	.discus-sec a{
		font-size: 18px;
	}
	/* Blog Settings Ends */
	
	
	/* Careers Settings Starts */
	.carer-bg{
		height: auto;
		min-height: 275px; /* 287 */
		padding: 62px 0px 20px 0px;
		background-position:top center;
	}
	.carer-wrp{
		width:100%; /* 795 of 1094 = 72.66 */
	}
	.carr-tit{
		padding-left:10%;
		padding-right:10%;
	}
	.carr-tit h3{
		font-size: 27px;
		line-height: 1.3;
	}
	.carr-bx{
		margin-right: 2.7%;
		margin-left: 2.7%;
	}
	.carr-bx img{
		height:auto;
		margin:auto;
	}
	.prk-sec{
		padding-top:30px;
	}
	.crr-wrp-2{
		width:80%; /* 540 of 795 = 67.92 */
	}
	
	/* Careers Detail Starts */
	.car-det-wrp{
		width:100%; /* 835 of 1094 76.32 */
	}
	.crd-det-midd{
		line-height:1.5;
	}
	.jobfrm-md-inr{
		width: 97%;
		margin: 0 1.5%;
	}

	/* Careers Settings Ends */
}

