.ul-ico-sub-sub{
    float:left;
    width:16px;
    height:auto; /* 16 */
    padding-right:10px;
}
.ul-ico-sub-sub a{
    display:block;
    float:left;
    width:100%;
    height:16px;
    cursor:pointer;
    text-decoration:none;
    outline:none;
    background-image:url(../images/ulsub-list.png);
    background-position: left top;
    background-repeat: no-repeat;
}
.ul-ico-sub-sub a:hover{
    background-position: left -16px;
}
.ul-ico-sub-sub a.active{
    background-position: left bottom;
}