.subf-active, .subsubf-active{
	display:block;
}
.amazonmenu ul{
	
	list-style: none;
	margin: 0;
	padding: 0;

}

.amazonmenu ul li{
	position: static; /* menu li items should have position set to static */
}

.amazonmenu > ul{
	background: white;
	width: 203px; /* width of main menu */
	min-height: 399px; /* height of main menu */
	position: relative;
	border-right:2px solid #ededed;
}

.amazonmenu > ul li a{
	color: #000000;
	display: block;
	overflow: auto;
	position: relative;
	text-decoration: none;
	font-size:16px;
	font-family: 'source_sans_probold';
    font-weight: normal;
    margin-bottom: 17px;	
}

.amazonmenu > ul li.hassub > a::after{ /* Arrow to indicate this item has sub menu (LI elements with sub menus have a ".hassub" class). */
	/*border: 5px solid transparent;
	border-left-color: gray; 
	content: '';
	height: 0;
	position: absolute;
	margin-left: 7px;
	top: 35%;
	width: 0;*/
}

.amazonmenu > ul li.hassub.selected > a::after{ /* Style of arrow when corresponding sub menu is open (LI element has a "selected" class during this state */
	/*border-left-color: #008ac5;*/
}

.amazonmenu ul li a:hover{ /* style of hover and selected menu item links */
	/*background: lightblue;
	color: navy;*/
	color:#008ac5;
}

.amazonmenu ul li > div, 
.amazonmenu ul li > ul{ /* Sub menus (Could be a DIV or UL wrapper) style */
	background: white;
	display: none;
	font-weight: normal;
	width: 180px; /* 121 */
	height: auto; /* height of sub menu */
	left: 100%;
	position: absolute;
	top: 0;
	z-index: 1000;
    margin-left: 21px;
}

.amazonmenu ul li > ul li a span.nw-arow{
    
    float: right;
	background-image:url(../images/arrow-right.png);
	background-repeat:no-repeat;
	width:7px;
	height:10px;
	position: absolute;
    right: 14px; /* 0 */
    top: 7px;
}
.amazonmenu ul li > ul li a:hover{
	color:#008ac5 !important;
}
.amazonmenu ul li > ul li a:hover span.nw-arow{
	background-position:bottom right;
	
}

.amazonmenu ul li > ul li ul.nw-wdth{
	width: 226px; /* 210 189 */
    max-height: 390px; /* 399 */
    float: left;
    top: -2px !important;
    padding-left: 40px !important;
    height: auto;
    margin-left: -30px; /* New Added */
    overflow: auto;
}

.amazonmenu ul li > ul li ul.nw-wdth li.difr-stl {
    border: none;
    color: #000000;
    font-size: 16px;
    font-family: 'source_sans_prosemibold';
    font-weight: normal;
    margin-bottom: 8px;
}
.amazonmenu ul li > ul li ul.nw-wdth li{
    list-style: none;
    border-bottom: 1px solid #ededed;
    width: 160px;
    height: auto;
    float: left;
}
.amazonmenu ul li > ul li ul.nw-wdth li a{
	  color: #000000;
    font-size: 14px;
    font-family: 'source_sans_proregular';
	font-weight:normal;
	margin-bottom:0px;
    padding: 2px 0px 3px;	
	
}
/* ###### CSS Media queries ###### */

@media screen and (max-width: 480px){ /* When screen size is 480px */
	.amazonmenu ul li > div, .amazonmenu ul li > ul{
		left: 30px; /* Stack the sub menus so they take up less space */
	}

	.amazonmenu > ul li.hassub.selected::after{ /* Add "veil" to parent menus */
		background: #eee;
		content: '';
		height: 100%;
		left: 0;
		opacity: .8;
		pointer-events: none;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
	}
}