/* Message Center CSS Starts */
.custombtn-large{
	float:left;
	width:auto;
	height:auto;
}
.custombtn-large a, 
.custombtn-large input, 
.custombtn-large button{
	float:left;
	width:auto; /* 155px */
	height:auto;
	background-color:#008ac5;
	font-family: 'source_sans_probold';
	font-size:16px;
	color:#fff;
	cursor:pointer;
	text-transform:uppercase;
	font-weight:normal;
	text-align:center;
	border:1px solid #008ac5;
	outline:none;
	
	border-radius:5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	
    padding: 7px 14px;
	text-decoration:none;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}
.custombtn-large a:hover, 
.custombtn-large input:hover, 
.custombtn-large button:hover{
	background-color:#FFF;
	color:#008ac5 ;
}
.message-wrapper{
	float:left;
	width:100%;
	height:auto;
}
.my-account-right-head.addbtmPad{
	padding:0px 0px 5px 0px;
}
.msg-hd-inrow{
	float:left;
	width:100%;
	height:auto;
	padding:0px 0px 6px 0px;
}
.msg-hd-inrow h5{
	float:left;
	width:auto;
	height:auto;
	max-width:76%;
}
.del-btnright{
	float:right;
	width:auto;
	height:auto;
	margin:11px 0px 0px 0px;
}
.msg-center-btm{
	float:left;
	width:100%;
	height:auto;
}
.topGrey-bar{
	float:left;
	width:100%;
	height:auto;
	box-sizing:border-box;
	background-color:#fafafa;
	border:1px solid #cccccc;
	padding:10px 12px;
}
.searchby-wrap{
	float:left;
	width:100%;
	height:auto;
}
.searchby-row{
	float:left;
	width:100%;
	height:auto;
}
.searchby-row label{
	float:left;
	width:auto;
	height:auto;
	padding:5px 11px 0px 0px;
	margin:0px;
	font-family: 'source_sans_prosemibold';
	font-size:15px;
	color:#000000;
}
.stextbox-rp{
	float:left;
	width:218px; /* auto */
	height:auto;
	padding:0px 8px 0px 0px;
}
.stextbox-rp input{
	float:left;
	width:100%;
	height:29px;
	background-color:#FFF;
	border:1px solid #e4e4e4;
	outline:none;
	
	color:#6f6f6f;
	font-size:14px;
	font-family: 'source_sans_proregular';
	font-weight:normal;
	
	border-radius:6px;
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
	
	box-sizing:border-box;
	padding:0px 7px;
}
.sselect-rp{
	float:left;
	width:153px; /* auto */
	height:auto;
	padding:0px 8px 0px 0px;
}
.sselect-rp select{
	float:left;
	width:100%;
	height:29px;
	background-color:#FFF;
	border:1px solid #e4e4e4;
	outline:none;
	
	color:#6f6f6f;
	font-size:14px;
	font-family: 'source_sans_proregular';
	font-weight:normal;
	
	border-radius:6px;
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
	
	box-sizing:border-box;
	padding:0px 7px;
}
.search-btn{
	float:left;
	width:auto;
	height:auto;
}
.search-btn .custombtn-large a, 
.search-btn .custombtn-large input, 
.search-btn .custombtn-large button{
	padding: 3px 14px 2px 14px;
}
.msg-secbtm-rp{
	float:left;
	width:100%;
	height:auto;
	padding:0px 0px 50px 0px;
}
.msg-sectbl{
	float:left;
	width:100%;
	height:auto;
	padding:0px 0px 20px 0px;
}
.msg-sectbl table{
	float:left;
	/* width:100%; */
	height:auto;
	table-layout:fixed;
	border:none;
}
.msg-sectbl table tr th{
	padding:15px 3px;
	font-family: 'source_sans_prosemibold';
	font-size:18px;
	color:#000000;
	font-weight:normal;
	vertical-align:top;
	border-bottom:2px solid #e8e6e8;
	box-sizing: border-box;
}
.msg-sectbl table tr td{
	padding:11px 3px;
	font-family: 'source_sans_proregular';
	font-size:16px;
	color:#000000;
	font-weight:normal;
	vertical-align:top;
	background-color:#FFF;
	border-bottom:2px solid #e8e6e8;
	box-sizing: border-box;
}
.msg-sectbl table tr.unread td{
	background-color:#f4f4f4;
}
.msg-sectbl table tr td a{
	text-decoration:underline;
	color:#000000;
}
.msg-sectbl table tr td a:hover{
	text-decoration:none;
}
.colOne{
	width:33px;
}
.colTwo{
	width:124px;
}
.colThree{
	width:129px;
}
.colFour{
	width:120px;
}
.colFive{
	width:331px;
}
.colSix{
	width:80px;
}
.msg-sectbl table tr th.colSix, 
.msg-sectbl table tr td.msgaction{
	text-align:right;
	padding-right:8px;
}
.msg-actionrp{
	float:right;
	width:auto;
	height:auto;
}
.msg-actionrp ul{
	list-style-type:none;
	list-style-position:outside;
	margin:0px;
	padding:0px;
}
.msg-actionrp ul li{
	float:left;
	width:auto;
	height:auto;
	margin:0px;
	padding:0px 0px 0px 12px;
}
.viewmsg-btn{
	float:left;
	width:auto;
	height:auto;
	padding:2px 0px 0px 0px;
	position:relative;
}
.viewmsg-btn a{
	display:block;
	float:left;
	width:25px;
	height:17px;
	cursor:pointer;
	background-image:url('../images/viewmsg-btn.png');
	background-position:bottom left;
	background-repeat:no-repeat;
	border:none;
	outline:none;
	text-decoration:none;
}
.viewmsg-btn a:hover{
	background-position:top left;
}
.delmsg-btn{
	float:left;
	width:auto;
	height:auto;
	position:relative;
}
.delmsg-btn a{
	display:block;
	float:left;
	width:17px;
	height:19px;
	cursor:pointer;
	background-image:url('../images/delmsg-btn.png');
	background-position:bottom left;
	background-repeat:no-repeat;
	border:none;
	outline:none;
	text-decoration:none;
}
.delmsg-btn a:hover{
	background-position:top left;
}
.viewBubble{
	position:absolute;
	top:-6px;
	right:-6px;
	width:auto;
	height:auto;
	min-width:15px;
	min-height:15px;
	background-color:#eb0000;
	
	border-radius: 4px;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
	
	font-family: 'source_sans_prosemibold';
	font-size:10px;
	color:#ffffff;
	text-align:center;
	line-height:1.5;
}
.msb-lastfrow{
	float:left;
	width:100%;
	height:auto;
}
.showing-rp{
	float:left;
	width:auto;
	height:auto;
	font-family: 'source_sans_prosemibold';
	font-size:16px;
	color:#333333;
}
.msg-bright{
	float:right;
	width:auto;
	height:auto;
}
.pagination-rp{
	float:left;
	width:auto;
	height:auto;
}
.pagination-rp a.nextBtn, 
.pagination-rp a.preBtn{
	float:left;
	width:32px;
	height:29px;
	outline:none;
	border:none;
	cursor:pointer;
	border:1px solid #e5e5e5;
	background-color:#FFF;
	box-sizing:border-box;
}
.pagination-rp a.nextBtn:hover, 
.pagination-rp a.preBtn:hover{
	background-color:#008ac5;
}
.pagination-rp a.nextBtn{
	background-image:url('../images/arrowNext.png');
	background-position:bottom left;
	background-repeat:no-repeat;
}
.pagination-rp a.preBtn{
	background-image:url('../images/arrowPre.png');
	background-position:bottom left;
	background-repeat:no-repeat;
}
.pagination-rp a.nextBtn:hover, 
.pagination-rp a.preBtn:hover{
	background-position:top left;
}
.paginationInner{
	float:left;
	width:auto;
	height:auto;
	font-family: 'source_sans_prosemibold';
	font-size:16px;
	color:#000;
	padding:5px 9px 0px 9px;
}
.paginationInner a{
	color:#000;
	text-decoration:none!important;
	margin:0px 3px;
}
.paginationInner a:hover, 
.paginationInner a.active{
	color:#008ac5;
}
/* Message Center CSS Ends */

/* Message Reply CSS Starts */
.msgreply-top{
	float:left;
	width:100%;
	height:auto;
}
.msgreply-box{
	float:left;
	width:100%;
	height:auto;
	box-sizing:border-box;
	background-color:#fafafa;
	border:1px solid #cccccc;
	padding:29px 29px 10px 29px; /* 29px 38px 10px 38px */
}
.msgreply-inner{
	float:left;
	width:100%;
	height:auto;
}
.msgreplyFrm{
	float:left;
	width:100%;
	height:auto;
}
.msgreply-row{
	float:left;
	width:100%;
	height:auto;
	padding:0px 0px 15px 0px;
}
.msgreply-row label{
	float:left;
	width:16.67%; /* 123 of 738 */
	height:auto;
	padding:10px 0px 0px 0px;
	font-family: 'source_sans_prosemibold';
	font-size:17px;
	color:#000;
	font-weight:normal;
}
.msgreply-row .error{
	padding: 5px 0px 0px 0px;
}
.msgreply-txtarea{
	float:left;
	width:83.33%; /* 615 of 738 */
	height:auto;
}
.msgreply-txtarea textarea{
	float:left;
	width:100%;
	height:200px;
	outline:none;
	border:1px solid #e4e4e4;
	border-radius:5px;
	color:#6f6f6f;
	font-size:16px;
	font-family: 'source_sans_proregular';
	font-weight:normal;
	padding:10px 13px 0px;
	resize:none;
}
.msgreply-btnsec{
	float:right;
	width:auto;
	height:auto;
}
.msgreply-btn{
	float:left;
	width:auto;
	height:auto;
	padding:0px 0px 0px 6px;
}
.msgreply-btn input, 
.msgreply-btn button, 
.msgreply-btn a {
	float:left;
	display:block;
	width:auto;
	height:auto;
	min-width:88px;
	font-family: 'source_sans_probold';
	font-weight:normal;
	font-size:16px;
	color: #ffffff;
	padding: 4px 10px;
	border:1px solid transparent;
	outline: none;
	text-decoration:none;
	cursor: pointer;
	background-color: #008ac5;
	text-transform:uppercase;
	text-align:center;
	cursor:pointer;
	
	
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	
	border-radius:5px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}
.msgreply-btn input:hover, 
.msgreply-btn button:hover, 
.msgreply-btn a:hover{
	background-color:transparent;
	border-color: #008ac5;
	color:#008ac5;
}
.msgreply-btm{
	float:left;
	width:100%;
	height:auto;
	padding:14px 0px 0px 0px;
}
.msgreply-tbl{
	float:left;
	width:100%;
	height:auto;
	padding:0px 0px 25px 0px;
}
.msgreply-tbl table{
	float:left;
	width:100%;
	height:auto;
	border:none;
	table-layout:fixed;
}
.msgreply-tbl table tr th{
	font-weight:normal;
	font-family: 'source_sans_prosemibold';
	font-size:18px;
	color:#000000;
	background-color:#FFF;
	border-bottom:2px solid #e8e6e8;
	padding:15px 6px;
}
.msgreply-tbl table tr th.firstcol, 
.msgreply-tbl table tr td.firstcol{
	padding-left:12px;
}
.msgreply-tbl table tr td{
	font-weight:normal;
	font-family: 'source_sans_proregular';
	font-size:16px;
	color:#000000;
	background-color:#FFF;
	padding:11px 6px;
}
.msgreply-tbl table tr.even td{
	background-color:#f4f4f4;
	border-top:1px solid #e8e6e8;
	border-bottom:1px solid #e8e6e8;
}
.msgreply-tbl table tr td a{
	color:#000000;
	text-decoration:underline;
}
.msgreply-tbl table tr td a:hover{
	text-decoration:none;
}
.msgreply-tbl table tr td p{
	margin:0px;
}
.msgcol1{
	width:15%; /* 135 of 816 */
}
.msgcol2{
	width:17%; /* 126 of 816 */
}
.msgcol3{
	width:16%; /* 121 of 816 */
}
.msgcol4{
	width:52%; /* 434 of 816 */
}
/* Message Reply CSS Ends */

/* Store Setting CSS Starts */
.store-btmWrap{
	float:left;
	width:100%;
	height:auto;
	padding:0px 0px 22px 0px;
}
.store-mainsec{
	float:left;
	width:100%;
	height:auto;
}
.store-tophdr{
	float:left;
	width:100%;
	height:auto;
	padding:6px 0px 5px 0px;
}
.store-th{
	float:left;
	width:auto;
	height:auto;
}
.store-th h3{
	font-weight:normal;
	font-family: 'source_sans_prosemibold';
	font-size:18px;
	color:#000000;
	text-transform:uppercase;
	margin:0px;
}
.store-bdtlWrap{
	float:left;
	width:100%;
	height:auto;
	box-sizing:border-box;
	border:1px solid #cccccc;
}
/* Store Setting CSS Ends */

/* Left Nav Settings Starts */
.my-account-left.seller-nav h2{
	margin: 0px 0px 13px 0px; 
}
.my-account-left.seller-nav .dashbrd-lnk{
	margin-bottom: 20px;
}
.my-account-left.seller-nav .dashbrd-lnk + .dashbrd-lnk + .dashbrd-lnk{
	margin-bottom: 27px;
}
.my-account-left.seller-nav .dashbrd-lnk ul{
	margin-bottom: 0px;
}
.my-account-left.seller-nav .dashbrd-lnk h5{
	margin-bottom: 13px;
}
.my-account-left.seller-nav .dashbrd-lnk ul li{
	margin-bottom: 5px;
}